body {
  margin: 0;
  font-family: monospace;
  background-color: White;
}

.header {
  width: 100%;
  background-color: #20293F;
  color: white;
  padding: 1 10 1 10;
}

.footer {
  width: 100%;
  font-size: xx-small;
  background-color: #404749;
  color: #030C22;
  padding: 20;
  clear: both;
}

.main {
  width: 100%;

}

.container {
  clear: none;
  padding: 10px;
  min-height: 500;

}

.builder {
  float: left;
  background-color: #A9B0B3;
  width: 400;
}

.builder input {
    margin-bottom: 2;
    width: 100;
}

.builder input[type=button] {
    padding: 2;
    border-width: 6;
    border-style: solid;
}

.editor {
  float: left;
  width: 50%;
}

.commandChain {
  float: right;
  background-color: #A9B0B3;
  width: 200;
}

.scroller {
    overflow-y: auto;
    white-space:pre-wrap;
}

.console {
    background-color: black;
    color: white;
}
