body {
    margin: 10;
}

div {
    padding-bottom: 10;
    clear: both;
}

input[type=button] {
    margin-bottom: 2;
    width: 80;
}

.container {
    width: 400px;
    height: 400px;
}

.col {
    float: left;
    clear: none;
    height: 100%;
    overflow-y: auto;
    padding-right: 10;
}

.twenty {
    width: 20%;"
}

.console {
    background-color: black;
    color: white;
}
