<html>
    <head>
        <title>Piet Tools</title>
        <link type="text/css" href="css/style.css" rel="stylesheet"></link>
        <script src="js/lib/jquery.min.js"></script>
        <script src="js/lib/angular.min.js"></script>
    </head>
    <body ng-app="ptApp" ng-controller="ptCtrl">

        <div class="header">
          <h3>Piet Tools</h3>
        </div>

        <div class="main">
          <div class="container builder">

            <div>
                <input type="textbox" id="input" ng-model="input" />
                <span ng-repeat="command in data.commands ">
                    <input type="button" ng-value="command.action" ng-click="action(command);" ng-style="{'border-color': command.colour}" ng-attr-title="{{command.description}}" />
                </span>

            </div>
            <div>
                Current State: <br/>
                <ul>
                    <li>Colour: <span ng-bind-template="{{state.colour}}"></span></li>
                    <li>DP: <span ng-bind-template="{{state.dp}}"></span></li>
                    <li>CC: <span ng-bind-template="{{state.cc}}"></span></li>
                </ul>
            </div>
            <div>
                STDOUT: <br/>
                <textarea class="console" readonly rows="6" cols="50" ng-model="output"></textarea>
            </div>
            <div>
                <input type="button" value="start again" ng-click="start()" />
                <input type="button" value="undo" ng-click="undo()" />
            </div>
            <div>
                Stack:
                <div class="scroller" ng-bind-template="{{stackText}}"></div>
            </div>
          </div>

          <div class="container editor">
              {{state}}
              <br/><br/>
              {{itprState}}
          </div>

          <div class="container commandChain">
            Command Chain:
            <div class="scroller" ng-bind-template="{{commandChainText}}"></div>
          </div>

        </div>

        <div class="footer">
          <span><strong>Esoteric</strong> - Relating to concepts that are highly theoretical and without obvious practical application.</span><br/>
          <span>Created by Chris Brown 2016</span>
        </div>

    </body>

    <script src="js/interpreter.js"></script>
    <script src="js/app.js"></script>
</html>
